// random vars
$topBarHeight: 22px;

// colors
$brand-primary: #FF00CC;
$gray: #555555;
$parchment: #FFF4CC;

$teal: #298A8B;
$light-teal: lighten($teal, 50%);

$yellow: #FDDD84;
$light-yellow: lighten($yellow, 19.5%);

$brown: #DD6E4A;
$redish: #D1554E;

$gray: #888888;
$gray-light: #CCCCCC;
