@import '../styles.variables.scss';

.com-graph-container {
    margin: 5px 5px 25px 5px;
    border: 3px solid black;
    position: relative;

    .graph-control-bar {
      padding: 6px 4px;
      height: $topBarHeight;
      border-bottom: 3px solid black;
      display: flex;
      justify-content: space-between;

      .leftBar {
        width: 70%;
      }

      .instructionLabel {
        margin: 0 10px;
        font-size: 0.8em;
      }

    }



}
